<div class="row register-form">
    <div class="col-md-8 offset-md-2">
        <form [formGroup]="rlrRegisterForm" (ngSubmit)="submitRegister()" class="card shadow custom-form">
            <h1 style="margin-right: 40px;margin-left: 40px;">RLR Register Form</h1>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Email
                        Address</label></div>
                <div class="col-sm-6 input-column">
                    <input class="form-control" type="email" name="email" formControlName="email">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="text-center">
                    ( Initial password is same to Email Address. You can change it whenever you need )
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="nic-input-field">Registration
                        ID</label></div>
                <div class="col-sm-6 input-column">
                    <input class="form-control" type="text" name="regId" formControlName="regId">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="nic-input-field">Public
                        Name</label></div>
                <div class="col-sm-6 input-column">
                    <input class="form-control" type="text" name="publicName" formControlName="publicName">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="lname-input-field">Contact
                        No</label></div>
                <div class="col-sm-6 input-column">
                    <input class="form-control" type="text" name="contactNo" formControlName="contactNo">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="lname-input-field">Postal
                        Address</label></div>
                <div class="col-sm-6 input-column">
                    <input class="form-control" type="text" name="postalAddress" formControlName="postalAddress">
                </div>
            </div>
            <button class="btn btn-light submit-button" type="submit">Submit</button>
        </form>
    </div>
</div>

<app-alert-box [type]="alert_type" [content]="alert_content"></app-alert-box>