<div id="wrapper">
    <app-side-bar></app-side-bar>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <app-sys-navbar></app-sys-navbar>
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">{{this.commonService.getCurrentUrlLastSegmentAsTitle()}}</h3>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
        <app-sys-footer></app-sys-footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>