<div class="h-100">
    <div class="container align-bottom">
        <div class="row" style="height: 160px;"></div>
        <div class="row">
            <div class="col-md-12 text-center"><img class="d-none d-md-inline" src="assets/img/loading_ring.gif" style="height: 250px;"><img class="d-md-none" src="assets/img/loading_ring.gif" style="height: 160px;"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="clean-block add-on call-to-action" style="height: 90px;">
                    <h2 class="text-secondary">Lorem dolor {{user}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>