<button id="openAlertBoxButton" [hidden]="true" data-toggle="modal" data-target="#alert_box"></button>

<div class="modal fade" role="dialog" tabindex="-1" id="alert_box">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class={{setHeaderStyles()}}>
                <h4 class="modal-title mx-auto"><strong>{{current_theme.title}}</strong></h4><button type="button"
                    class="close text-white" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>{{content}}</p>
            </div>
            <div class="modal-footer bg-light"><button class="btn btn-outline-secondary" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>