<footer class="page-footer dark">
    <div class="container">
        <div class="row" style="margin-top: -30px;margin-bottom: -20px;">
            <div class="col-sm-3">
                <h5>Open Source</h5>
                <ul>
                    <li><a href="#">Github Repositories</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Support</h5>
                <ul>
                    <li><a routerLink="/lrbsl/contact" fragment="contact-section">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2020 LRBSL - Designing &amp; Development by <a href="https://ravindusachintha.github.io"><strong>Ravindu
                    Sachintha</strong></a></p>
    </div>
</footer>