<app-home-navbar></app-home-navbar>

<main class="page login-page">
    <section class="clean-block clean-form dark" style="margin-top: 40px;" id="login-section">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info" style="margin-top: 40px;">Log In As A {{currentUser.userType}}</h2>
                <p>You need to log here to {{currentUser.userDescription}}.</p>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
                <div class="form-group"><label for="email">Email Address</label><input class="form-control item"
                        type="email" id="email" name="email" formControlName="email"></div>
                <div class="form-group"><label for="password">Password</label><input class="form-control"
                        type="password" id="password" name="password" formControlName="password"></div>
                <div class="form-group">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="checkbox"
                            name="rememberMe" formControlName="rememberMe"><label class="form-check-label"
                            for="checkbox">Remember me</label></div>
                </div><button class="btn btn-primary btn-block" type="submit">Log In</button>
            </form>
        </div>
    </section>
</main>

<app-home-footer></app-home-footer>
<app-alert-box [type]="alert_type" [content]="alert_content"></app-alert-box>