<div class="card shadow border-left-primary py-2" style="margin-bottom: 25px;margin-right: 15px;margin-left: 15px;">
    <div class="card-body">
        <div class="row align-items-center no-gutters">
            <div class="col-4">
                <div class="dropdown"><button class="btn btn-outline-primary btn-block dropdown-toggle"
                        data-toggle="dropdown" aria-expanded="false" type="button">Select the Searching Method</button>
                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation"
                            href="#">Lands</a><a class="dropdown-item" role="presentation" href="#">Notaries</a><a
                            class="dropdown-item" role="presentation" href="#">Surveyors</a></div>
                </div>
            </div>
            <div class="col" style="padding-right: 20px;">
                <form class="d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search w-100">
                    <div class="input-group"><input class="bg-light form-control border-0 small" type="text"
                            placeholder="Search for ...">
                        <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i
                                    class="fas fa-search"></i></button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col" style="margin-top: -10px;">
        <div class="shadow card" style="margin: 15px;"><a class="btn btn-link text-left card-header font-weight-bold"
                data-toggle="collapse" aria-expanded="true" aria-controls="collapse-1" href="#collapse-1"
                role="button">Land ID : fsdfsdfsdf</a>
            <div class="collapse show" id="collapse-1">
                <div class="row">
                    <div class="col">
                        <ul style="margin-top: 16px;">
                            <li><strong>Land ID :</strong> ####</li>
                            <li><strong>Transaction Type :</strong> (Change Ownership / Forking)</li>
                            <li><strong>RL Registry :</strong> ###</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul style="margin-top: 16px;">
                            <li><strong>Notary :</strong> ##Name (ID)</li>
                            <li><strong>Surveyor :</strong> ##Name (ID) - optional</li>
                            <li><strong>Current Owner :</strong> ##Name (NIC)</li>
                            <li><strong>Requested New Owner </strong>: ##Name (NIC)</li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer"><a class="btn btn-warning btn-icon-split" role="button" data-toggle="modal"
                        data-target="#deed-info"><span class="text-white-50 icon"><i
                                class="fas fa-landmark"></i></span><span class="text-white text">Deed
                            Information</span></a>
                    <a class="btn btn-info btn-icon-split" role="button" style="margin-left: 10px;" data-toggle="modal"
                        data-target="#plan-info"><span class="text-white-50 icon"><i
                                class="fas fa-info-circle"></i></span><span class="text-white text">Plan
                            Information</span></a><a class="btn btn-success btn-icon-split float-right"
                        role="button"><span class="text-white-50 icon"><i class="far fa-file-pdf"></i></span><span
                            class="text-white text">Generate PDF</span></a></div>
            </div>
        </div>
        <div class="shadow card" style="margin: 15px;"><a class="btn btn-link text-left card-header font-weight-bold"
                data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1"
                role="button">Notary ID : fsdfsdfsdf</a>
            <div class="collapse" id="collapse-1">
                <div class="row">
                    <div class="col">
                        <ul style="margin-top: 16px;">
                            <li><strong>Land ID :</strong> ####</li>
                            <li><strong>Transaction Type :</strong> (Change Ownership / Forking)</li>
                            <li><strong>RL Registry :</strong> ###</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul style="margin-top: 16px;">
                            <li><strong>Notary :</strong> ##Name (ID)</li>
                            <li><strong>Surveyor :</strong> ##Name (ID) - optional</li>
                            <li><strong>Current Owner :</strong> ##Name (NIC)</li>
                            <li><strong>Requested New Owner </strong>: ##Name (NIC)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow card" style="margin: 15px;"><a class="btn btn-link text-left card-header font-weight-bold"
                data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1"
                role="button">Surveyor ID : fsdfsdfsdf</a>
            <div class="collapse" id="collapse-1">
                <div class="row">
                    <div class="col">
                        <ul style="margin-top: 16px;">
                            <li><strong>Land ID :</strong> ####</li>
                            <li><strong>Transaction Type :</strong> (Change Ownership / Forking)</li>
                            <li><strong>RL Registry :</strong> ###</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul style="margin-top: 16px;">
                            <li><strong>Notary :</strong> ##Name (ID)</li>
                            <li><strong>Surveyor :</strong> ##Name (ID) - optional</li>
                            <li><strong>Current Owner :</strong> ##Name (NIC)</li>
                            <li><strong>Requested New Owner </strong>: ##Name (NIC)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="deed-info">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Deed Information :</strong> Land - ###</h4><button type="button"
                    class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <ul style="margin-top: 16px;">
                            <li><strong>Land ID :</strong> ####</li>
                            <li><strong>Transaction Type :</strong> (Change Ownership / Forking)</li>
                            <li><strong>RL Registry :</strong> ###</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul style="margin-top: 16px;">
                            <li><strong>Notary :</strong> ##Name (ID)</li>
                            <li><strong>Surveyor :</strong> ##Name (ID) - optional</li>
                            <li><strong>Current Owner :</strong> ##Name (NIC)</li>
                            <li><strong>Requested New Owner </strong>: ##Name (NIC)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="plan-info">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Plan Information :</strong> Land - ###</h4><button type="button"
                    class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <ul style="margin-top: 16px;">
                            <li><strong>Land ID :</strong> ####</li>
                            <li><strong>Transaction Type :</strong> (Change Ownership / Forking)</li>
                            <li><strong>RL Registry :</strong> ###</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul style="margin-top: 16px;">
                            <li><strong>Notary :</strong> ##Name (ID)</li>
                            <li><strong>Surveyor :</strong> ##Name (ID) - optional</li>
                            <li><strong>Current Owner :</strong> ##Name (NIC)</li>
                            <li><strong>Requested New Owner </strong>: ##Name (NIC)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>