<main class="page landing-page">
    <section id="home-section" class="clean-block clean-hero"
        style="margin-top: -13px;color: rgba(9, 162, 255, 0.85);background-image: url(&quot;assets/img/scenery/image6.jpg&quot;);padding-top: 50px;">
        <div class="text">
            <h2>An Effective and Efficient Blockchain Solution for Land Registration Process in Sri Lanka</h2>
            <p>Land transactions digitalizing with reliable blockchain system for improving and empowering the land
                registration process.</p><a class="btn btn-outline-light btn-lg" role="button" id="service-btn"
                routerLink="/lrbsl" fragment="service-section">Get Services</a>
        </div>
    </section>
    <section id="service-section" class="clean-block features" style="padding-top: 15px;">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Services</h2>
                <p>Land registration process in Sri Lanka primarily consists of 3 roles which are Regional Land
                    Registries, Notaries and Surveyors.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box"><i class="icon-organization icon"></i>
                    <h4>Regional Land Registry Service</h4>
                    <p>Regional land registries are responsible for managing notaries, handling and validating land
                        transactions location-wise.</p>
                    <div class="text-right"><a class="btn btn-outline-primary btn-sm" role="button"
                            routerLink="/lrbsl-login/rlr" fragment="login-section">
                            Login as a Regional Land Registry</a></div>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-people icon"></i>
                    <h4>Notary Service</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                        mattis vitae leo.</p>
                    <div class="text-right"><a class="btn btn-outline-primary btn-sm" role="button"
                            routerLink="/lrbsl-login/notary" fragment="login-section">Login as a
                            Notary</a></div>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-map icon"></i>
                    <h4>Surveyor Service</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                        mattis vitae leo.</p>
                    <div class="text-right"><a class="btn btn-outline-primary btn-sm" role="button"
                            routerLink="/lrbsl-login/surveyor" fragment="login-section">Login as a
                            Surveyor</a></div>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                    <h4>Other Services</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                        mattis vitae leo.</p>
                    <div class="text-right"><a class="btn btn-outline-primary btn-sm" role="button"
                            href="http://www.rgd.gov.lk/web/index.php/en/services/land-registration.html">Visit Gov
                            Site</a></div>
                </div>
            </div>
        </div>
    </section>
    <section id="info-section" class="clean-block clean-info dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Info</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                    mattis vitae leo.</p>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6"><img class="img-thumbnail" src="assets/img/scenery/image5.jpg"></div>
                <div class="col-md-6">
                    <h3>Lorem impsum dolor sit amet</h3>
                    <div class="getting-started-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div><button class="btn btn-outline-primary btn-lg" type="button">Join Now</button>
                </div>
            </div>
        </div>
    </section>
</main>