<div *ngFor="let onGoTr of onGoTrs" class="row">
    <div *ngIf="onGoTr.status" class="col" style="margin-top: -10px;">
        <div class="shadow card" style="margin: 15px;"><a class="btn btn-link text-left card-header font-weight-bold"
                data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1"
                role="button">Transaction ID : {{onGoTr.txId}}</a>
            <div class="collapse" id="collapse-1">
                <div class="row">
                    <div class="col">
                        <ul style="margin-top: 16px;">
                            <li><strong>Land ID :</strong> {{onGoTr.landId}}</li>
                            <li><strong>Transaction Type :</strong> {{onGoTr.trType}}</li>
                            <li><strong>RL Registry :</strong> {{onGoTr.rlregistry}}</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul style="margin-top: 16px;">
                            <li><strong>Notary :</strong> {{onGoTr.notary}}</li>
                            <li><strong>Surveyor :</strong> {{onGoTr.surveyor}}</li>
                            <li><strong>Current Owner :</strong> {{onGoTr.currentOwner}}</li>
                            <li><strong>Requested New Owner </strong>: {{onGoTr.requestNewOwner}}</li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer"><a class="btn btn-warning btn-icon-split" role="button"><span
                            class="text-white-50 icon"><i class="fas fa-landmark"></i></span><span
                            class="text-white text">Check Land Info</span></a><a class="btn btn-success btn-icon-split"
                        role="button" style="margin-left: 10px;" (click)="confirmed()"><span class="text-white-50 icon"><i
                                class="fas fa-check"></i></span><span class="text-white text">Owner
                            Confirmed</span></a><a class="btn btn-danger btn-icon-split" role="button"
                        style="margin-left: 10px;" (click)="rejected()"><span class="text-white-50 icon"><i
                                class="fas fa-times"></i></span><span class="text-white text">Owner Rejected</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-alert-box [type]="alert_type" [content]="alert_content"></app-alert-box>