/* You can add global styles to this file, and also import other style files */
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}
    
.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.tooltipx {	
    position: absolute;			
    text-align: left;			
    width: auto;					
    height: auto;					
    padding: 5px;				
    font: 12px sans-serif;
    color: white;	
    background-color: rgb(59, 204, 160);	
    border: 1px solid rgb(23, 114, 87);		
    border-radius: 2px;			
    pointer-events: none;			
}