<nav class="navbar navbar-dark align-items-start h-100 sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon"><img src="assets/img/logo-white.png" style="height: 60px;"></div>
            <div class="sidebar-brand-text mx-3"><span>LRBSL</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="dashboard"><i
                        class="fas fa-tachometer-alt"></i><span>&nbsp;Dashboard</span></a></li>
            <!-- <li class="nav-item" role="presentation"><a class="nav-link" routerLink="notary-registration"><i
                        class="fas fa-users"></i><span>&nbsp;Notary Registration</span></a></li> -->
            <li class="nav-item" role="presentation"><a class="nav-link" routerLink="ongoing-transactions"><i
                        class="fab fa-telegram-plane"></i><span>&nbsp;Ongoing Transactions</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" routerLink="search-information"><i
                        class="fas fa-search"></i><span>&nbsp;Search Information</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" routerLink="profile"><i
                        class="fas fa-user-shield"></i><span>Profile</span></a></li>
            <hr class="sidebar-divider">
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle"
                type="button"></button></div>
    </div>
</nav>